bin
gen
*.iml
.settings
local.properties
release.properties
.DS_Store
*Thumbs.db
*.jar.properties
build/
.gradle/
.idea/
.navigation/
maps.txt
*.pyc
lint-report.xml
captures/
freeline/
freeline.py
freeline_project_description.json
.upgradeMsg.ignore
ipc
maindexlist.txt
